[Desktop Entry]
Version=1.0
Type=Application
Name=Infac Cable Marker Detector
Comment=Launch Cable Marker Detection System
Exec=/home/infactech/infac-p3/dist/cable_marker
Icon=/home/infactech/infac-p3/icon.png
Path=/home/infactech/infac-p3/dist/
Terminal=true
Categories=Utility;Application;
StartupNotify=true
