[Desktop Entry]
Version=1.0
Type=Application
Name=INFAC Cable Marker Vision
Comment=INFAC Industrial Cable Marker Detection System
Exec=/home/infactech/infac-p3/dist/cable_marker/cable_marker
Icon=/home/infactech/infac-p3/dist/cable_marker/app_icon.png
Path=/home/infactech/infac-p3/dist/cable_marker/
Terminal=false
Categories=Utility;Application;
StartupNotify=true
